GROQ_API_KEY=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
SERPER_API_KEY=6ebcca12522f83f24d9fcb232f6bc0ee52f08428
RESEARCH_AGENT_LLM=groq/llama-3.3-70b-versatile
ANALYST_AGENT_LLM=groq/llama-3.3-70b-versatile
WRITER_AGENT_LLM=groq/llama-3.3-70b-versatile
QA_AGENT_LLM=groq/llama-3.3-70b-versatile
RESEARCH_AGENT_TEMPERATURE=0.1
ANALYST_AGENT_TEMPERATURE=0.2
WRITER_AGENT_TEMPERATURE=0.3
QA_AGENT_TEMPERATURE=0.4